body{
    overflow-x: hidden;
}

.fa-user{
    font-size: 12rem;
    border: 2px solid black;
    border-radius: 100%;
    padding: 40px;
    display: inline;
    
}

.clock{
    font-size: 1.3rem;
    font-weight: 400;
}

table td , table th{
    padding: 30px !important;
}

.table-bordered{
    border-color: black !important;
}

.carousel{
    margin-top:90px;
    width: 100%;
}

.carousel-inner , .carousel-item{
    width: 100%;
}

.carousel-item img{
    width: 100%;
}


@media only screen and (max-width: 600px) {
    table td , table th{
        padding: 10px !important;
    }
    .sexo , .sexo-input{
        font-size: 0.9rem;
    }
  }
